nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 24px;

    line-height: 0;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

nav ul li:last-child img {
    width: 40px;
    height: 40px;
}

a:hover {
    color: var(--brand-color);
}

.container {
    padding-inline: 32px;
    max-width: 1216px;
    margin-inline: auto;
}

.bg-color-surface {
    background-color: var(--surface-color);
}